/* 全体レイアウト */
.admin__content {
    padding: 20px;
}

/* 検索フォーム */
.search-form {
    margin-bottom: 20px;
}

/* テーブルスタイル */
.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th,
.admin-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

/* モーダルの制御（ここが重要！） */
.modal-overlay {
    display: none;
    /* 通常時は非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

/* URLの末尾に #modal-ID が付いた時に表示される魔法のコード */
.modal-overlay:target {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    background: #fff;
    width: 600px;
    padding: 60px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    color: #999;
}

/* モーダル内テーブル */
.modal-table {
    width: 100%;
    margin-bottom: 30px;
}

.modal-table th {
    width: 40%;
    text-align: left;
    color: #8b7969;
}

.delete-btn {
    background: #bf4420;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
}

.admin-table__row:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
}