.header {
    background-color: #fff;
    border-bottom: 1px solid #e0dfde;
    padding: 20px 0;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

.header__logo {
    font-size: 24px;
    color: #8b7969;
    text-decoration: none;
    font-weight: bold;
}

.header-nav {
    position: absolute;
    right: 40px;
    list-style: none;
}

.header-nav__button {
    border: 1px solid #e0dfde;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.3s;
    color: #8b7969;
}

.header-nav__button:hover {
    background-color: #f4f4f4;
}

svg.w-5.h-5 {
    width: 20px;
    height: 20px;
}

nav[role="navigation"] svg {
    display: none;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    /* 右寄せ */
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    border: 1px solid #e0dfde;
    margin-left: -1px;
}

.pagination li a,
.pagination li span {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #8b7969;
    background-color: #fff;
}

.pagination li.active span {
    background-color: #8b7969 !important;
    color: #fff !important;
}

.pagination li a:hover {
    background-color: #f4f4f4;
}