/* public/css/login.css */

.login__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
}

.form__input--text input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* 下部の登録リンク */
.register__link {
    margin-top: 20px;
    text-align: center;
}

.register__button-link {
    text-decoration: none;
    color: #4b4b4b;
    font-size: 14px;
    border-bottom: 1px solid #4b4b4b;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}