main {
    width: 100%;
    height: 100%;
    background-color: #ead5b4;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 100%;
    background-color: #ead5b4;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form__heading {
    margin-bottom: 30px;
    text-align: center;
    color: #8b7969;
    font-size: 25px;
    text-align: center;
    margin: 25px 0;
}

.register-form__inner {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 60px 80px;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-form {
    margin: 0 auto;
    width: 60%;
}

.register-form__input--text input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.register-form__button-submit {
    margin-top: 30px;
    width: 100px;
    padding: 15px 0;
    background-color: #8b7969;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.login__link {
    text-align: center;
    margin-top: 20px;
}

.login__button-link {
    text-decoration: none;
    border: 1px solid #e0dfde;
    padding: 5px 10px;
    background-color: #f5ede6;
    color: #4b4b4b;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 100px;
}

.register__content .form__group {
    flex-direction: column;
    align-items: flex-start;
}

.register-form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}